<html>
    <head>
        <title>
         {{title}}
        </title>
    </head>
    <body dir = "rtl">
        {% load jalali_tags %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
		<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
        <h2>{{title}}</h2>

        <form method="post">{% csrf_token %}
            {{ appoint_form.as_p }}
            <input type="submit" value="تایید">
        </form>
    </body>