{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls static %}
{% block content %}

<body dir = "rtl">
    {% load jalali_tags %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
    <script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
        <ul>
            {% for object in objects %}
                <li>
                    <a href="{{ object.pk|unlocalize }}/">{{ object.contract_id }}</a> - {{ object.customer }}
                    <input type="hidden" name="_selected_action" value="{{ object.pk|unlocalize }}">
                </li>
            {% endfor %}
        </ul>
        <form method="POST">{% csrf_token %}
            {% for obj in objects %}
            <input type="hidden" name="_selected_action" value="{{ obj.pk|unlocalize }}">
            {% endfor %}
            {{ dateform.as_p }}
            <input type="hidden" name="action" value="set_date_action">
            <input type="hidden" name="post" value="yes">
            <input type="submit" value="اعمال" id="submitme">
        </form>
    
</body>
{% endblock %}